app/Resources/java/*
!app/Resources/java/.gitkeep
app/cache/*
!app/cache/.gitkeep
app/config/parameters.yml
app/logs/*
!app/logs/.gitkeep
app/SymfonyRequirements.php
app/bootstrap*
app/*.cache
composer.lock
composer.phar
vendor/*
!vendor/.gitkeep
web/bundles/
web/uploads/*
*.min.css
*.min.js
